@font-face {
  font-family: f;
  src: url(EHSMB.TTF);
}
body {
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}
.main {
  font-family: f;
  background-color: rgb(255, 206, 201);
  min-height: 100vh;
  cursor: default;
  padding: 3px;
}

.nav {
  margin: 3px auto;
  width: 95%;
  box-shadow: 8px 5px black;
  background-color: rgb(220, 157, 150);
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.nav div {
  font-weight: 600;  
  padding: 3px;
}
.connect {
  font-family: f;
  padding: 5px;
  background-color: antiquewhite;
  outline: none;
}

.content {
  padding: 20px;
  margin: 10px;
  justify-content: center;
  text-align: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

input {
  max-width: 600px;
  outline: none;
  padding: 8px;  
  font-family: f;
  box-shadow: 3px 1px black;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.containerTable {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: solid 1px;
  margin: 10px;
  width: fit-content;
  padding: 10px;
  box-shadow: 5px 5px black;
  overflow: scroll;
}
.results::-webkit-scrollbar {
  display: none;
}
.results div {
  overflow: scroll;
}
.results div::-webkit-scrollbar {
  display: none;
}
.selected {
  background-color: antiquewhite;
  border-radius: 0px;
  padding: 5px;
  background: #e0e0e0;
  box-shadow: inset -5px 5px 10px rgb(220, 157, 150), inset 5px -5px 10px #ffffff;
}
.unselected {
  border-radius: 0px;
  background: #e0e0e0;
  box-shadow: -5px 5px 10px antiquewhite, 5px -5px 10px #ffffff;
  background-color: antiquewhite;
  padding: 5px;
}
.loader{
animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.glitch {
  text-align: center;
  font-weight: bold;    
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
  0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
  /* width: fit-content; */
}

.glitch span {
  position: absolute;
  text-align: center;
  width: fit-content;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}